{% extends 'base.html' %}

{% load static %}

{% block title %}<title >País listado</title>{% endblock %}

{% block container %}

<header>
<h1 class="h2 text-center mt-4 mb-5">Listado de Países</h1>
</header>
<div>
    <a class="btn btn-info" href="{% url 'country-new' %}">Crear nuevo País</a>
</div>
<br>
<div class="row justify-content-center">
    {% for country in countries %}
    <div class="peli col-auto text-center">
            <p class="titulo-peli">{{ country.name }}</p>
            <hr>
            <button class="boton boton-ver">
                    <a href="{% url 'country-view' country.id %}"
                        class="non-underline-link text-white">
                    Ver <i class="fas fa-eye"></i>
                    </a></button>
                    <button class="boton boton-editar">
                    <a href="{% url 'country-detail' country.id %}"
                        class="non-underline-link text-white">
                    Editar <i class="fas fa-edit"></i>
                    </a></button>
                    <button class="boton boton-borrar non-underline-link text-white"
                        custom-href="{% url 'country-delete' country.id %}">
                            Borrar <i class="fas fa-trash-alt"></i>
                        </button>
        </div>
        {% endfor %}
</div>

{% endblock %}