{% extends "base.html" %}

{% load static %}

{% block title %}<title>Todas los directores</title>{% endblock %}

{% block container %}
    <header>
        <h1 class="h2 text-center mt-4 mb-5">Lista de directores</h1>
    </header>
<div>
    <a href="{% url 'director-create' %}" class="btn btn-info">Añadir Director</a>
</div>
<br>
<div class="row justify-content-center">
        {% for persona in personas %}
    <div class="persona col-auto text-center">
        <img class="img-actor-detalle" src="/static/img/{{persona.foto.name}}" alt="{{persona}}">
        <hr>
        <p class="titulo-peli">{{ persona }}
        <p class="titulo-peli">{{ persona.pais }}</p>
        <p class="titulo-peli">{{ persona.nacimiento }}</p>
        <hr>
        <button class="boton boton-ver"><a href='/cine/filtrar_director/{{persona.id}}/' class="non-underline-link text-white">Ver <i class="fas fa-eye"></i></a></button>
        <button class="boton boton-editar"><a href='/cine/modificar_director/{{persona.id}}/' class="non-underline-link text-white">Editar <i class="fas fa-edit"></i></a></button>
        <button class="boton boton-borrar non-underline-link text-white" custom-href='/cine/borrar_director/{{persona.id}}/'>Eliminar <i class="fas fa-trash-alt"></i></button>
    </div>
        {% endfor %}
</div>
{% if positivo > 1 %}
    <hr>
    <div class="col-auto text-center">
        {% for i in rango %}
            {% if i == personas.number %}
                    <a href="?page={{i}}"><span class="activar">{{i}}</span></a>
            {% else%}
                    <a href="?page={{i}}"><span class="numerado">{{i}}</span></a>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
<br>
{% endblock %}